# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Java 빌드 폴더
target/
build/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.properties

# Logs
logs/
*.log
**/log/

# 자바 린트와 검사 도구
.checkstyle/
.findbugs/
.spotbugs/
.pmd/
.jacoco/
.sonar/

# Spring Boot
# Spring Boot devtools를 위한 재시작 관련 파일들
.spring-boot-devtools.properties

# Spring Boot application properties files
application-*.properties
application-*.yml

# React 및 Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 환경 파일
.env
.env.local
.env.*.local

# Temporary files
tmp/
temp/

# 기타 IDE 설정 파일
.project
.classpath
.factorypath

